S3method(print,fmriAR_plan)
S3method(print,fmriAR_acvf)
useDynLib(fmriAR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
export(acorr_diagnostics)
export(acvf_bias_matrix)
export(compat)
export(afni_restricted_plan)
export(fit_noise)
export(noise_acvf)
export(sandwich_from_whitened_resid)
export(whiten)
export(whiten_apply)
