useDynLib(fmriAR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
export(acorr_diagnostics)
export(compat)
export(fit_noise)
export(sandwich_from_whitened_resid)
export(whiten)
export(whiten_apply)
